@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;700 & display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

header {
    margin-top: 47px;
    margin-left: 42px;
}

.link-header{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #17233D;
    cursor: pointer;
    height: 21px;
    left: 0%;
    right: 4.6%;
    top: calc(50% - 21px/2 + 0.5px);
    box-sizing: border-box;
    margin: 25px;
    
}

.link{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    cursor: pointer;
    width: 114px;
}

img {
    margin: 30px 0 0 10px;
    display: inline-block;
}
div{
    display: inline-block;
    margin-left: 84px;
    width: 493px;
}


h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
   
}


p{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A; 
    margin-top: 47px;
    margin-bottom: 55px;
    
    


}
.link-botao {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
    background: transparent;
    border: none;

    }